#Board {
    background-color: aliceblue;
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto
}

#grid {
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

.square {
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
}

.p1 {
    background-color: blue;
}

.p2 {
    background-color: red;
}